
.create-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #ea752c;
  display: flex;
  justify-content: center;
  align-items: center;
}


.create-card {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(223, 221, 221);
  text-align: left;
}

/* Title */
.create-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #ea752c;
  font-family: "syne", sans-serif;
}



.back-btn {
  color: #ea752c;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.back-btn:hover {
  text-decoration: underline;
}


/* Labels */
label {
  font-weight: bold;
  color: #ea752c;
  margin-top: 12px;
  display: block;
  font-family: "inter tight", sans-serif;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 5px solid #ccc;
  font-size: 16px;
}

/* Submit button */
.submit-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background-color: #ea752c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d56624;
}
