
.create-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #ea752c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0; 
}


.create-card {
  background: white;
  width: 380px;
  padding: 20px;
  padding-top: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: left;
}


.create-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #ea752c;
  font-family: "syne", sans-serif;
}



.register-back-btn {
  color: #ea752c;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
}

.register-back-btn:hover {
  text-decoration: underline;
}



.register-label {
  font-weight: bold;
  color: #ea752c;
  margin-top: 12px;
  display: block;
  font-family: "inter tight", sans-serif;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 5px solid #ccc;
  font-size: 16px;
}


.submit-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background-color: #ea752c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #f2b08a;
  cursor: not-allowed;
}


.submit-btn:hover {
  background-color: #d56624;
}

.already-btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding: 12px;
  background-color: white;
  color: #ea752c;
  border: 2px solid #ea752c;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}



.already-btn:hover {
  background-color: #fff5ef;
}

